@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

header{
	background-color: #EE0033;
	width: 100%;
	letter-spacing: -1px;
	font-family: "Open Sans", Sans-serif;
	font-weight: 800;
	color: #FFFFFF;
	margin: 0px;
  	padding: 0px;
 	height: 5em;
}

body {
	margin: 0px;
  	padding: 0px;
	background-color: #F5FFFF;
	font-family: "Open Sans", Sans-serif;
	font-weight: 500;
	font-size: 1em;
	color: #1E252E;
}

div{
	width: 100%;
	letter-spacing: -1px;
	font-size: 4em;
	font-family: "Open Sans", Sans-serif;
	font-weight: 800;
	color: #1E252E;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1 {
	margin: auto;
	padding: 0.5em;
	width: 50%;
	clear : none;
	float: left;
}

a{
	background-color: #EE0033;
	border: 2px solid;
	border-color: #BA1438;
	margin: 1em;
	padding: 5px;
	float: left;
	clear: left;
	cursor: pointer;
	width: 20%;
}

h2{
	font-weight: 600;
	color: #FF0000;
	margin: 2em;
	margin-bottom: -1em;
}

p{
	font-weight: 600;
}
body > p{
	padding: 10px;
	background-color: inherit;
	color: inherit;
	margin: auto;
	font-weight: 800;
	font-size: 2em;
	text-align: center;
}
nav{
	float: right;
	clear: none;	
}

a:link{
	color: #FFFFFF;
	text-decoration: none;
}
a:visited{
	color: #FFEEEE;
	text-decoration: none;
}

header a{
	background-color: #EE0033;
	border: none;
	float: right;
	margin: 1.5em;
	padding: 5px;
	cursor: pointer;
	font-family: "Open Sans", Sans-serif;
	font-weight: 500;
	font-size: 1em;
	width: auto;
}

div a{
	background-color: #EE0033;
	border: none;
	margin: auto;
	margin-top: 1em;
	font-weight: 600;
	font-size: 0.4em;
	padding: 0.5em;
	text-align: left;
	cursor: pointer;
	width: 98%;
	
}

table, th, tr, td{
	border: 1px solid;
	border-collapse: collapse;
}
th{
	background-color: #1E252E;
	border-color: #000000;
	color: #FFFFFF;
}
table{
	margin: auto;
	width: 90%;
	font-family: "Open Sans", Sans-serif;
	font-weight: 500;
	text-align: center;
	
}
tr:nth-child(odd){
	background-color: #E5E5EF;
	color: #1E252E;
}
tr:nth-child(even){
	background-color: #CECEE0;
	color: #1E252E;
}
td{
	padding: 10px;
}

form{
	margin:auto;
	width: 90%;
}



input{
	padding:0.25em 0.25em;
	font-size: 1em;
	width:100%;
	margin:10px 0;
}
input[type=radio]{
	display: inline;
	width: 10%;
}

select {
	padding:0.25em 0.25em;
	font-size: 1em;
	width:100%;
	margin:10px 0;
}

input[type=button], input[type=submit], input[type=reset] {
	
	background-color: #EE0033;
	font-family: "Open Sans", Sans-serif;
	font-weight: 600;
	border: none;
	color: white;
	padding: 16px 32px;
	margin: 4px 2px;
	cursor: pointer;
}
